/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
  clear: both;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */
}
.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
}

/******************************************
/* LAYOUT
/*******************************************/


/* Center the container */

.maincontainer {
  width: 900px;
  margin: 30px 100px 60px 80px;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
nav {
  background-color: #033048;
  color: #ffffff;
  padding-right: 120px;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  color: #f9e42e;
  font-size: 20px;
  font-weight: 600;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 36px;
  font-weight: 600;
  color: #033048;
  text-align: left;
}
.blogpost {
  width: 800px;
  border-bottom: 1px;
  border-color: #000000;
  border-style: solid;
}

p {
  font-size: 22px;
  font-weight: 300;
  color: #606161;
  text-align: left;
}
p span {
  font-size: 90px;
  font-weight: 600;
  color: #606161;
  padding-right: 5px;
  float:left;
  margin: 8px;
  line-height: 70px;
}
.readmore {
  display: flex;
  align-self: flex-end;
}
article {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
article a {
  font-size: 21px;
  font-weight: 600;
  color: #033048;
  padding: 10px;
}
.sidenav {
  width: 280px;
}
.sidenav p {
  font-size: 21px;
  font-weight: 100;
  color: #033048;
}

.sidenav ul {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: 100;
  color: #033048;
}
aside {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}
h3 {
  font-size: 32px;
  font-weight: 600;
  color: #033048;
  margin: 0;
}
.cta2 {
  background-color: #f9e42e;
  height: 100px;
  display: flex;
  align-self: center;
}
.cta2 a {
  background-color: #033048;
  text-decoration: none;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
  margin: auto;
}
.socialmedia ul a {
  color: #ffffff;
  margin:10px;
}

.footerlogo {
  font-size: 40px;
  font-weight: 700;
  color: #f9e42e;
  padding: 30px;
}

.socialmedia {
  width: 280px;
  display: flex;
  justify-content: space-around;
}


.footertext {
  font-size: 16px;
  margin:20px;
}
footer {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: space-around;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
